body {
    background-color: whitesmoke;
}

.wrapper {
    width: 300px;
    text-align: center;
}

.wrapper h2 {
    color: teal;
}

.fetchTitleBtn {
    width: 150px;
    height: 30px;
    font-size: medium;
    font-weight: bold;
    color: rgb(207, 236, 239);
    background-color: #565252;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 4px 2px 10px -1px #a8a8a8;
    -moz-box-shadow: 4px 2px 10px -1px #a8a8a8;
    box-shadow: 4px 2px 10px -1px #a8a8a8;
}

.fetchedTitle {
    color: crimson;
    font-weight: bolder;
    font-size: medium;
}